:root {
  --grand-purple: #c58fe7;
  --grand-green: #87d6d1;
  --grand-yellow: #f5e842;
  --grand-pink: #ffbeba;
  --grand-grey-light: #d8d4e3;

  --auto-pink: #f6e6e0;
  --auto-purple: #9b5cb0;
  --auto-purple-dark: #553668;
  --auto-grey-dark: #9ba3c4;
  --auto-grey-orange: #e9b556;
}

/* semantic color variables for this project */
:root {
  /* --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2); */
  }
}

body {
  @apply bg-white text-base text-gray-800;
  /* transition:
    color 0.5s,
    background-color 0.5s; */
  /* line-height: 1.6; */
  font-family: 'Red Hat Display', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* font-size: 16px; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Marcellus', serif;
  font-weight: 400;
  font-style: normal;
}

p {
  @apply md:text-lg lg:text-xl leading-5 sm:leading-6 md:leading-7;
}
