@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

a {
  transition: 0.4s;
  padding: 3px;
  border-bottom: 4px solid var(--grand-purple);
}

@media (hover: hover) {
  a:hover {
    border-bottom: 3px solid var(--auto-purple);
  }
}

.text-gradient {
  background: var(--grand-green);
  background: linear-gradient(
    to right,
    var(--grand-green) 40%,
    var(--auto-purple) 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
